html,body {
  height: 100%;
}

.container {
  margin-top: 111px;
}

.index-festival-logo {
  padding: 20px;
}

#main-navbar-collapse {
  padding-top: 30px;
}

.navbar {
  border-radius: 0px !important;
}

.navbar-toggle {
  margin-top: 40px !important;
}

.festival-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.admin-container {
  padding: 20px;
}

.detail-content {
  text-align: left;
}