html,body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  background-color: #CCCCCC !important;
}

.container {
  padding-top: 111px;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
}

.about-blurb {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.now-playing-holder {
  margin-top: 10px;
}

.double-line-horizontal {
  border-top: 1px #BFBFBF solid;
  border-bottom: 1px #BFBFBF solid;
  height: 5px;
  width: 100%;
  margin: 20px auto;
}

.double-line-vertical {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 5px;
  border-left: 1px #BFBFBF solid;
  border-right: 1px #BFBFBF solid;
}

.index-festival-logo {
  margin-bottom: 20px;
  background-color: white;
  border: 1px black solid;
}

.index-festival-logo-double {
  background-color: white;
  border: 1px black solid;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.festival-date {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

#main-navbar-collapse {
  padding-top: 25px;
}

.navbar {
  border-radius: 0px !important;
  background-color: #404040 !important;
  .dropdown {
    a.dropdown-toggle {
      color: white !important;
      .caret {
        border-top-color: white !important;
        border-bottom-color: white !important;
      }
    }
  }
  .dropdown.open {
    a.dropdown-toggle {
      color: black !important;
      .caret {
        border-top-color: black !important;
        border-bottom-color: black !important;
      }
    }
  }
  li a {
    color: white !important;
  }
}

.navbar-collapse, .navbar-form {
  border-color: #663E4D !important;
}

.navbar-toggle {
  margin-top: 40px !important;
}

.title-dropdown {
  max-height: 310px;
  overflow: auto;
}

.header-holder {
  padding: 10px 0px !important;
}

.festival-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: left;
  background-size: cover;
  cursor: pointer;
}

.film-grid-holder {
  margin-right: 70px;
  margin-left: 70px;
  position: relative;
}

.film-grid-item {
  height: 100%;
  background-size: cover;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.hovering {
  opacity: 0.5;
}

.play-button {
  background-image:url('/assets/play.png');
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  position: absolute;
  width: 100%;
}

.touch-info {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

iframe {
  width: 100%;
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}

.video-holder iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.admin-container {
  padding: 20px;
}

.detail-content {
  text-align: left;
}

.popover {
  max-width: 350px !important;
  max-height: 100%;
}

.popover-title {
  font-weight: bold !important;
  font-size: 16px !important;
}

.popover-content {
  font-size: 12px;
}

.voting-bucket {
  padding: 20px 0px;
}

.vote-button {
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

.share-word {
  font-size: 18px;
  margin-top: 2px;
}

.comments-holder {
  clear: both;
}

.create-comments {
  margin: 30px 0;
}

.comments-bucket {
  min-height: 100%;
}

.comment-name {
  background-color: #F8F8F8;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}

.comment-content {
  padding: 10px 5px;
}

.footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #404040;
  color: white;
  a {
    color: white;
    &:hover {
      color: lightgrey;
      text-decoration: none;
    }
  }
}