html,body {
  height: 100%;
}

.index-festival-logo {
  padding: 20px;
}

.logo-image {
  line-height: 130px;
}

.festival-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.admin-container {
  padding: 20px;
}