/* Extra small screens only */

@media (max-width: 768px) {
  .video-holder {
    height: 300px !important;
  }

  .film-grid-holder {
    margin: 0px 10px 10px 10px !important;
  }

  .footer {
    line-height: none !important;
  }
}

/* Small screens only */

@media (min-width: 768px) and (max-width: 992px) {
  .video-holder {
    height: 440px !important;
  }

  .film-grid-row {
    margin-top: 25px;
  }

  .film-grid-holder {
    margin-bottom: 30px;
  }

  .footer {
    line-height: 60px;
  }
}

/* Medium screens only */

@media (min-width: 992px) and (max-width: 1200px) {
}

/* Large screens only */

@media (min-width: 1200px) {
}

/* Extra small and small screens */

@media (max-width: 992px) {
  .detail-bucket {
    padding-top: 10px;
  }

  .detail-bucket-column {
    clear: both;
  }
}

/* Medium and large screens */

@media (min-width: 992px) {
  .video-holder {
    height: 440px !important;
  }

  .detail-bucket {
    text-align: center;
    padding-left: 10px;
  }

  .film-grid-row {
    margin-top: 25px;
  }

  .film-grid-holder {
    margin-bottom: 30px;
  }

  .footer {
    line-height: 60px;
  }
}