/* Extra small screens only */

@media (max-width: 768px) {
  .search-form {
    height: 60px;
  }

  #search-bar {
    float: left;
    width: 85%;
  }

  .video-holder {
    height: 300px !important;
  }

  .share-this {
    text-align: left;
    margin-top: 60px;
    margin-left: -10px;
  }

  .vote-count {
    font-size: 12px;
    margin-top: 3px;
  }

  .detail-content {
    padding: 0 10px;
  }

  .film-grid-holder {
    margin: 0px 10px 10px 10px !important;
  }

  .footer {
    line-height: none !important;
  }
}

/* Small screens only */

@media (min-width: 768px) and (max-width: 992px) {
  #search-bar {
    width: 100px;
  }

  button.hidden-xs {
    display: inline !important;
  }

  .video-holder {
    height: 440px !important;
  }

  .film-grid-row {
    margin-top: 25px;
  }

  .film-grid-holder {
    margin-bottom: 30px;
  }

  .share-this {
    text-align: center;
  }

  .popover {
    margin-top: 75px;
  }

  .footer {
    line-height: 60px;
  }
}

/* Medium screens only */

@media (min-width: 992px) and (max-width: 1200px) {
  .voting-section {
    font-size: 10px;
  }
}

/* Large screens only */

@media (min-width: 1200px) {
  .voting-section {
    font-size: 12px;
  }
}

/* Extra small and small screens */

@media (max-width: 992px) {
  .detail-bucket {
    padding-top: 10px;
  }

  .detail-bucket-column {
    clear: both;
  }

  .voting-section {
    font-size: 12px;
  }
}

/* Medium and large screens */

@media (min-width: 992px) {
  button.hidden-xs {
    display: inline !important;
  }

  .video-holder {
    height: 440px !important;
  }

  .voting-section {
    margin-bottom: 20px;
  }

  .detail-bucket {
    text-align: center;
    padding-left: 10px;
  }

  .share-this {
    text-align: center;
  }

  .film-grid-row {
    margin-top: 25px;
  }

  .film-grid-holder {
    margin-bottom: 30px;
  }

  .popover {
    margin-top: 75px;
  }

  .footer {
    line-height: 60px;
  }
}