ul.ui-autocomplete {
  width: 300px;
  z-index: 5000;
  margin-right: 100px;
  li {
    height: 60px;
    font-size: 14px;
    cursor: pointer;
    .search-item-description {
      font-size: 12px;      
    }
    &:hover {
      background-color: #F8F8F8 !important;
    }
  }
  .custom-search-item {
    margin-top: -20px;
    padding: 5px;
    height: 100%;
  }
}