.row style="height: 150px; padding: 10px 0px !important;"
  .col-md-12.col-sm-12 style="height: 100%;"
    .festival-banner style="background-image:url(#{@festival.banner.url}); width: 100%; height: 100%;" data-url="#{@festival.festival_url}"